[submodule "astro"]
	path = astro
	url = https://github.com/NormaQuintana/astro.git
[submodule "django"]
	path = django
	url = https://github.com/NormaQuintana/django.git
[submodule "next"]
	path = next
	url = https://github.com/NormaQuintana/Next.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/NormaQuintana/Angular.git
[submodule "Express"]
	path = Express
	url = https://github.com/NormaQuintana/Express.git
